<div class='p-4'>
  <h1 class='text-xl font-bold mb-4'>Budget Builder</h1>
  <button (click)='addCategory()' class='mb-2 p-2 bg-blue-500 text-white rounded hover:bg-blue-700 cursor-pointer'>Add
    Category</button>
  <table class='w-full border-collapse border border-gray-400'>
    <thead>
      <tr>
        <th class='border p-2'>Category</th>
        <th class='border p-2' *ngFor='let month of months$ | async'>{{ month }}</th>
        <th class='border p-2'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor='let item of budgetItems(); let categoryIndex = index'>
        <tr>
          <td class='border p-2 font-bold'>
            <input #budgetInput type='text' [(ngModel)]='item.category' class='w-full p-1' />
          </td>
          <td class='border p-2' *ngFor='let _ of months$ | async'></td>
          <td class='border p-2'>
            <button (click)='addSubCategory(item)'
              class='p-1 bg-green-500 text-white rounded hover:bg-green-700 cursor-pointer mr-2 mb-2'>Add Sub</button>
            <button (click)='confirmDeleteCategory(item)'
              class='p-1 bg-red-500 text-white rounded hover:bg-red-700 cursor-pointer'>Delete</button>
          </td>
        </tr>
        <tr *ngFor='let sub of item.subCategories; let subIndex = index'>
          <td class='border p-2 pl-4'>
            <input #budgetInput type='text' [(ngModel)]='sub.name' class='w-full p-1' />
          </td>
          <td *ngFor='let val of sub.values; let valueIndex = index' class='border p-2'>
            <input #budgetInput type='number' [(ngModel)]='sub.values[valueIndex]' class='w-full p-1 text-center'
              (contextmenu)='applyToAll(sub, valueIndex, $event)' (keydown)="onInputKeyDown($event)" />
          </td>
          <td class='border p-2'>
            <button (click)='confirmDeleteSubCategory(item, sub)'
              class='p-1 bg-red-500 text-white rounded'>Delete</button>
          </td>
        </tr>
        <tr>
          <td class='border p-2 font-bold'>Sub Total</td>
          <td *ngFor='let total of calculateSubTotal(item)' class='border p-2 font-bold text-center'>{{ total }}</td>
          <td class='border p-2'></td>
        </tr>
      </ng-container>
      <tr>
        <td class='border p-2 font-bold'>Total</td>
        <td *ngFor='let total of calculateTotal()' class='border p-2 font-bold bg-gray-200 text-center'>{{ total }}</td>
        <td class='border p-2'></td>
      </tr>
    </tbody>
  </table>


</div>